---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/?api_key=<HIDDEN_KEY>&append_to_response=reviews,credits
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cascade:
      - pass
      Etag:
      - W/"6001c1d4105f2f67beabf59d00458908"
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"status_code":34,"status_message":"The resource you
        requested could not be found."}'
  recorded_at: Sat, 09 Sep 2023 22:07:19 GMT
recorded_with: VCR 6.2.0
